@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Set CSS Variables for colors and fonts */
:root {
    --off-white: #f9f9f9;
    --light-blue: #add8e6;
    --blue: #007bff;
    --dark-blue: #0056b3;
    --text-color: #333;
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;
    --cream: #f5f5f5;
    --white: #ffffff;
    --light-sporty-blue: #60a5fa;
    --pro-orange: #f97316;
    --background-color: #F0F4F8;
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --accent-color: #28A745;
    --light-color: #E2E6EA;
    --dark-color: #343A40;
}
.profile-title {
    text-align: center;
    color: var(--blue);
    /* A color defined in your CSS root */
    font-family: 'Poppins', sans-serif;
    /* Assuming you want to use Poppins as per your imports */
    font-weight: var(--font-bold);
    /* Bold weight for more impact */
    font-size: 3rem;
    /* Larger size for prominence */
    margin-top: 2rem;
    /* Spacing from the top */
    margin-bottom: 2rem;
    /* Spacing from the bottom */
    padding: 0.5rem 1rem;
    /* Padding for aesthetic spacing */
    background-color: var(--off-white);
    /* A subtle background color if desired */
    border-radius: 0.5rem;
    /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    display: inline-block;
    /* Makes the background only as wide as necessary */
    max-width: 100%;
    /* Ensure it doesn't overflow */
    word-wrap: break-word;
    /* If the title is long, it should wrap */
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.welcome-message {
    text-align: center;
    margin-bottom: 2rem;
}

.welcome-message .heading {
    color: var(--primary-color);
    font-size: 3rem;
    /* Increased font size */
    font-weight: var(--font-semibold);
    margin-bottom: 1rem;
}

.welcome-message .p {
    color: var(--dark-color);
    font-size: 1.6rem;
    /* Increased font size */
    line-height: 1.6;
    font-weight: var(--font-regular);
}

.exercise-buttons,
.login-register-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.my-btn {
    color: var(--white);
    background-color: var(--light-sporty-blue);
    border: none;
    padding: 3rem 4rem;
    /* Increased padding for larger buttons */
    text-decoration: none;
    font-size: 3rem;
    /* Increased font size */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.my-btn:hover {
    background-color: var(--pro-orange);
}

.my-btn:focus,
.my-btn:active {
    outline: none;
    box-shadow: 0 0 0 3px rgba(211, 223, 230, 0.5);
}

/* Media Queries for Responsive Design */


@media only screen and (max-width: 768px) {

    .home-container {
        margin: 1rem;
    }

    .exercise-buttons,
    .login-register-buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .my-btn {
        padding: 2rem 2.5rem;
        /* Make your padding and font-size larger as this is specifically for mobile devices */
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1200px) {

    .home-container {
        margin: 3rem;
    }

    .my-btn {
        font-size: 3.5rem;
        /* Increase font size and padding here as well to make button bigger on larger screens */
        padding: 3.5rem 4.5rem;
    }
}