/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Set CSS Variables for colors and fonts */
:root {
  --off-white: #f9f9f9;
  --light-blue: #add8e6;
  --blue: #007bff;
  --dark-blue: #0056b3;
  --text-color: #333;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --cream: #f5f5f5;
  --white: #ffffff;
  --light-sporty-blue: #60a5fa;
  --pro-orange: #332215;
  --background-color: #F0F4F8;
  --primary-color: #007BFF;
  --secondary-color: #6C757D;
  --accent-color: #28A745;
  --light-color: #E2E6EA;
  --dark-color: #343A40;
}

/* Global Styles */
body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cream);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography & Page Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
  font-weight: var(--font-semibold);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

/* Style for Authentication Form Containers, Inputs and Buttons */
.auth-form-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.auth-form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.auth-form-container .page-title {
  text-align: center;
  color: var(--primary-color);
  font-weight: var(--font-bold);
  font-size: 2.5em;
  margin: 2rem 0;
}

.auth-form-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--light-sporty-blue);
  color: var(--white);
  border: none;
  border-radius: var(--primary-color);
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.auth-form-container button:hover {
  background-color: var(--dark-blue);
}

.auth-form-container .form-group {
  margin-bottom: 1em;
}

.auth-form-container .form-label {
  font-weight: var(--font-semibold);
}

.auth-form-container .form-control,
.auth-form-container .form-select {
  border-radius: 5px;
}

.error-message {
  color: var(--pro-orange);
}