@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Set CSS Variables for colors and fonts */
:root {
    --off-white: #f9f9f9;
    --light-blue: #add8e6;
    --blue: #007bff;
    --dark-blue: #0056b3;
    --text-color: #333;
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;
    --cream: #f5f5f5;
    --white: #ffffff;
    --light-sporty-blue: #60a5fa;
    --pro-orange: #f97316;
    --background-color: #F0F4F8;
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --accent-color: #28A745;
    --light-color: #E2E6EA;
    --dark-color: #343A40;
}

.profile-title {
    text-align: center;
    color: var(--blue);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-bold);
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
    background-color: var(--off-white);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    width: 100%;

}

.container-fluid {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 100%;
    /* Remove this line if it exists and is causing an issue */
}

.bg-primary {
    background-color: #343a40 !important;

}

/* Base Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333333;
    margin: 0;
    padding: 0;
}

.page-title {
    text-align: center;
    color: #007bff;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem auto;
    width: fit-content;
}

.card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    /*width: 300%;*/
    max-width: 80%;
    margin: 70px auto;
    width: auto;
    max-width: 100%;
    /*center the card*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 1, 0, 0.2);
}

/* Card body styling */
.card-body {
    text-align: center;
}

.custom-card {
    margin: auto;
    /* Center the card within the grid cell */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribute space between card body and footer */
    align-items: center;
    text-align: center;
}

/* Button Styling */
.card button {
    background-color: #60a5fa;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #007bff;
}

/* Grid container to arrange cards in a grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* Adjust the min-width of the cards */
    gap: 20px;
    padding: 20px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.auth-form-container {
    width: 90vw;
    max-width: 100%;
    /* Ensure it doesn't exceed the width of the viewport */
    padding-bottom: 100px;
    /* Add some space at the bottom */
}

/* Button Styling */
.btn-primary {
    background-color: #60a5fa;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #ddd;
}

/* Trainer card body styling */
.trainer-card-body {
    padding: 20px;
}

.trainer-card-footer {
    display: flex;
    justify-content: space-around;
    /* This will space out the buttons evenly */
    align-items: center;
    padding: 1rem;
    /* Adjust padding as necessary */
    background-color: transparent;
    /* Ensures the background is transparent */
}

.card .btn {
    margin: 5px;
    /* Smaller margin for buttons */
}